/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Global Class*/

html {
    scroll-behavior: smooth;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Georama', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 500;
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}